<div class="sign-card">
  <iframe aria-label="Sign card video" src="https://player.vimeo.com/video/155731367?title=0&byline=0&portrait=0" frameborder="0" allow="autoplay"></iframe>
  <img class="avatar avatar--small" src="https://picsum.photos/id/550/32/32" alt="Profile Image" />
  <div class="sign-card__section">
    <div>
      <div class="sign-card__title"><%= result["english"] %></div>
      <div class="sign-card__subtitle">
        <p><%= result["user_name"] %></p>
        <div class="bullet">•</div>
        <p><%= result["nice_published_at"] %></p>
      </div>
    </div>
    <div class="sign-card__bottom grid-x align-middle">
      <div class="sign-card__votes">
        <div class="sign-card__votes--agree grid-x align-middle">
          <%= image_pack_tag "agree.svg", alt: "Agree", class: "sign-card__votes--icon" %>
          <div><%= result["agree"] %></div>
        </div>
        <div class="sign-card__votes--disagree grid-x align-middle">
        <%= image_pack_tag "disagree.svg", alt: "Disagree", class: "sign-card__votes--icon" %>
        <div><%= result["disagree"] %></div>
        </div>
      </div>
      <div class="sign-card__folder">
        <%= image_pack_tag "folder-add.svg", alt: "Agree", class: "sign-card__folder--icon" %>
      </div>
    </div>
  </div>
</div>
