<%= form_with method: :get do %>
  <% current_page_params(@page, nil).each do |name, value| %>
    <%= hidden_field_tag name, value %>
  <% end %>

  <div class="grid-x">
    <div class="cell shrink">
      <%= label_tag :order, class: "middle" do %>
        Sort by&nbsp;&nbsp;
      <% end %>
    </div>

    <div class="cell auto">
      <select name="order" onchange="this.form.submit()">
        <% Search.permitted_sort_keys.each do |key| %>
          <option value="<%= key %>" selected="<%= params[:order] == key %>">
            <%= t("search.order.#{key}") %>
          </option>
        <% end %>
      </select>
    </div>
  </div>
<% end %>
