<%= form_tag do %>
  <% params.except(:controller, :action).each do |search_param, value| %>
    <%= hidden_field_tag search_param, value %>
  <% end %>

  <div class="grid-x">
    <div class="cell shrink">
      <%= label_tag :sort, "Sort by", class: "middle inline" %>
    </div>

    <div class="cell auto">
      <select name="sort" onchange="this.form.submit()">
        <% Search.permitted_sort_keys.each do |key| %>
          <option <%= "selected" if params[:sort] == key %> value="<%= key %>">
            <%= t("search.sort_by.#{key}") %>
          </option>
        <% end %>
      </select>
    </div>
  </div>
<% end %>
