<% provide(:title, "Results for '#{@page[:term]}'") %>

<div class="grid-x margin-vertical-2">
  <div class="cell auto">
    <h2 class="normal">
      <%= pluralize(@page[:total], "result") %>
      for
      <strong>‘<%= @page[:term] %>’</strong>
    </h2>
  </div>

  <div class="cell shrink">
    <%= render "sort_by", page: @page unless @page[:total].zero? %>
  </div>
</div>
<hr class="list__divider list__divider--dark">

<% if @dictionary_signs.any? %>
<div class="grid-x cell" id="official-signs">
  <div class="cell margin-top-3 margin-bottom-0 grid-x align-middle">
    <div class="cell grid-x align-middle">
      <h2 class="cell auto">NZSL Dictionary signs</h2>
      <div class="cell shrink grid-x align-middle">
        <%= link_to Rails.application.config.dictionary_host do %>
          See more dictionary signs<%= inline_svg_pack_tag("media/images/external-link.svg", class: "icon icon--inline icon--royal") %>
        <% end %>
      </div>
    </div>
  </div>
  <div class="sign-grid cell">
    <% @dictionary_signs.each do |sign| %>
      <%= render "dictionary_signs/card", sign: sign %>
    <% end %>
  </div>
</div>
<% end %>

<% if @signs.any? %>
  <div class="grid-x cell" id="community-signs">
    <div class="cell margin-top-3 margin-bottom-0 grid-x align-middle">
      <h2 class="cell auto">NZSL community signs</h2>
    </div>
    <div class="sign-grid cell">
      <% @signs.each do |sign| %>
        <%= render "signs/card", sign: sign %>
      <% end %>
    </div>
  </div>
  <% if @page[:total] >= @page[:limit] %>
    <div class="cell auto text-center margin-2">
      <%= link_to "Show More", params.to_unsafe_h.merge(page: @page[:next_page], anchor: dom_id(@signs.last, :card)), class: "button primary" %>
    </div>
  <% end %>
<% end %>
