<% provide(:title, "Results for '#{@page.term}'") %>

<div class="grid-x sign-grid__header">
  <div class="cell small-8">
    <h2 class="normal">
      <%= pluralize(@page[:total], "result") %>
      for
      <strong>‘<%= @page[:term] %>’</strong>
    </h2>
  </div>

  <div class="cell auto">
    <%= render "sort_by", page: @page if @signs.any? %>
  </div>
</div>


<div class="cell auto grid-x sign-grid">
  <% @signs.each do |sign| %>
    <%= render "signs/card", sign: sign %>
  <% end %>
</div>

 <% if @signs.any? && @page[:total] >= @page[:limit] %>
  <div class="cell auto text-center margin-2">
    <%= link_to "Show More", params.to_unsafe_h.merge(page: @page[:next_page], anchor: dom_id(@signs.last, :card)), class: "button primary" %>
  </div>
<% end %>
