<br>
<h4>
  <%= "#{@signs.count} Result(s) for '#{@support[:word]}'" %>
</h4>
<br>
<% if @signs.any? %>
  <div class="grid-x grid-margin-x">
    <% @signs.each do |sign| %>
      <div class="cell small-3">
        <% present(sign) do |sign| %>
          <%= render partial: 'result', locals: { sign: sign } %>
        <% end %>
      </div>
    <% end %>
  </div>

  <% unless @signs.count < @support[:limit] %>
    <%= render partial: 'show_more', locals: { support: @support } %>
  <% end %>

  <%= render partial: 'published_asc', locals: { support: @support } %>
  <%= render partial: 'published_desc', locals: { support: @support } %>
<% end %>
