<br>
<h4>
  <%= "#{@signs.count} Result(s) for '#{@support[:word]}'" %>
</h4>
<br>
<% if @signs.any? %>
  <div class="grid-x grid-margin-x">
    <% @signs.each do |sign| %>
      <div class="cell small-3">
        <%= render "result", sign: sign %>
      </div>
    <% end %>
  </div>

  <% unless @signs.count < @support[:limit] %>
    <%= render "show_more", support: @support %>
  <% end %>

  <%= render "published_asc", support: @support %>
  <%= render "published_desc", support: @support %>
<% end %>
