<%= form_with url: signs_batch_operations_path, id: "sign_list_controls", local: true, html: { class: "grid-x small-12" } do |f| %>
  <%= f.hidden_field "sign_ids[]" %>
  <div class="cell grid-x large-4 small-12 align-middle">
    <%= f.label :topic_id, "Assign topics", class: "cell" %>
    <%= f.collection_select :topic_id, policy_scope(Topic).all,
                                       :id, :name,
                                       { prompt: "--Select topic--" },
                                       class: "cell auto margin-right-2 margin-bottom-0" %>
    <div class="cell shrink">
      <%= f.button "Assign", value: :assign_topic, name: :operation, class: "button neutral" %>
    </div>
  </div>

  <% if current_user.approved? %>
    <div class="cell grid-x large-3 large-offset-5 small-12 align-right align-bottom sign-table__mobile-margin">
      <%= f.button "Submit for publishing", value: :submit_for_publishing,
                                            name: :operation,
                                            class: "button neutral cell",
                                            data: { confirm: "I agree to follow the privacy policy - #{page_url("privacy-policy")}" } %>
    </div>
  <% end %>
<% end %>
