<% sign = present(sign) %>

<tr>
  <td>
    <input type="checkbox" />
  </td>
  <td>
    <%= image_tag(sign.poster_url(size: 360), class: "sign-table__image") %>
  </td>

  <td>
    <h1 class="sign-table__title"><%= link_to sign.word, sign %></h1>
    <h2 class="sign-table__subtitle"><%= sign.topics.pluck(:name).join(", ") %>
  </td>

  <td>
    <% if policy(sign).overview? %>
      <small title="<%= sign.status_description %>" class="sign-table__status"><%= sign.status_name %></small>
    <% end %>
  </td>

  <td>
    <%= inline_svg_pack_tag "media/images/user.svg", aria_hidden: true %>
    <%= link_to user_path(sign.contributor.username), class: "sign-table-row__contributor" do %>
      <%= sign.contributor.username %>
    <% end %>
    <div><%= sign.friendly_date %></div>
  </td>

  <td class="sign-table__controls">
    <span class="sign-table-row__controls--comments"><%= render "signs/card/comments", sign: sign %></span>

    <div class="sign-card__votes js-sign-votes" id="<%= sign.dom_id(:votes) %>">
      <%= agree_button(sign, table: true) do %>
        <%= inline_svg_pack_tag "media/images/agree.svg", aria: true, title: "Agree", class: "sign-card__controls--icon" %>
        <%= sign.agree_count %>
      <% end %>

      <%= disagree_button(sign, table: true) do %>
        <%= inline_svg_pack_tag "media/images/disagree.svg", aria: true, title: "Disagree", class: "sign-card__controls--icon" %>
        <%= sign.disagree_count %>
      <% end %>
    </div>

    <%= render "signs/card/folders", sign: sign %>
  </td>

  <td>
    <%= link_to "Edit", edit_sign_path(sign), class: "button" %>
  </td>
</tr>
