<% sign = present(sign) %>

<tr class="sign-table__row <%= 'sign-table__row--unedited' unless sign.last_user_edit_at %>">
  <td class="sign-table__cell">
    <div class="checkbox">
      <%= check_box_tag "sign_ids[]",
                        sign.to_param,
                        params[:sign_ids]&.include?(sign.to_param),
                        id: dom_id(sign, :batch_selection),
                        form: :sign_list_controls %>
      <%= label_tag dom_id(sign, :batch_selection), class: "margin-0" do %>
        <span class="show-for-sr">Add sign to selection</span>
      <% end %>
    </div>
  </td>

  <td class="sign-table__cell hide-for-large">
    <%= render "signs/card/video", sign: sign %>
  </td>

  <td class="sign-table__cell show-for-large">
    <%= image_tag(sign.poster_url(size: 360), class: "sign-table__image") %>
  </td>

  <td class="sign-table__cell sign-table__titles">
    <h1 class="sign-table__title"><%= link_to sign.word, sign %></h1>
    <h2 class="sign-table__subtitle"><%= sign.topics.pluck(:name).join(", ") %>
  </td>

  <td class="sign-table__cell">
    <% if policy(sign).overview? %>
      <small title="<%= sign.status_description %>" class="sign-table__status"><%= sign.status_name %></small>
    <% end %>
  </td>

  <td class="sign-table__cell">
    <%= inline_svg_pack_tag "media/images/user.svg", aria_hidden: true %>
    <%= link_to user_path(sign.contributor.username), class: "sign-table__contributor" do %>
      <%= sign.contributor.username %>
    <% end %>
    <div><%= sign.friendly_date %></div>
  </td>

  <td class="sign-table__cell sign-table__controls">
    <%= render "signs/card/comments", sign: sign %>

    <div class="sign-card__votes js-sign-votes" id="<%= sign.dom_id(:votes) %>">
      <%= agree_button(sign, table: true) do %>
        <%= inline_svg_pack_tag "media/images/agree.svg", aria: true, title: "Agree", class: "sign-card__controls--icon" %>
        <%= sign.agree_count %>
      <% end %>

      <%= disagree_button(sign, table: true) do %>
        <%= inline_svg_pack_tag "media/images/disagree.svg", aria: true, title: "Disagree", class: "sign-card__controls--icon" %>
        <%= sign.disagree_count %>
    <% end %>
    </div>

    <%= render "signs/card/folders", sign: sign %>
  </td>

  <td class="sign-table__cell">
    <%= link_to "Edit", edit_sign_path(sign), class: "button" %>
  </td>
</tr>
