<% sign = present(sign) %>

<div class="grid-x grid-padding-x align-middle sign-table-row">
  <div class="cell medium-2 large-2 grid-x align-middle sign-table-row__image__container">
    <div class="checkbox">
      <%= check_box_tag "sign_ids[]", sign.id, params[:sign_ids]&.include?(sign.id), id: dom_id(sign, :batch_selection) %>
      <%= label_tag dom_id(sign, :batch_selection) do %>
        <span class="show-for-sr">Add sign to selection</span>
      <% end %>
    </div>

    <%= image_tag(sign.poster_url(size: 360), class: "sign-table-row__image") %>
  </div>

  <div class="cell medium-2 large-2">
    <%= link_to sign_path(sign) do %>
      <h1 class="sign-card__title"><%= sign.word %></h1>
    <% end %>

    <%= content_tag(:h2, sign.topics.pluck(:name).join(", "),
                          class: "sign-card__supplementary-titles__secondary small") %>
  </div>

  <div class="cell medium-2 large-2">
    <% if policy(sign).overview? %>
      <small id="sign_status" title="<%= sign.status_description %>" class="sign-card__status"> <%= sign.status_name %> </small>
    <% end %>
  </div>

  <div class="cell medium-2 large-2">
    <%= inline_svg_pack_tag "media/images/user.svg", aria_hidden: true %>
    <%= link_to user_path(sign.contributor.username), class: "sign-table-row__contributor" do %>
      <%= sign.contributor.username %>
    <% end %>
    <div><%= sign.friendly_date %></div>
  </div>

  <div class="cell medium-3 large-3">
    <div class="grid-x align-middle">
      <span class="sign-table-row__controls--comments"><%= render "signs/card/comments", sign: sign %></span>

      <div class="sign-card__votes js-sign-votes" id="<%= sign.dom_id(:votes) %>">
        <%= agree_button(sign, table: true) do %>
          <%= inline_svg_pack_tag "media/images/agree.svg", aria: true, title: "Agree", class: "sign-card__controls--icon" %>
          <%= sign.agree_count %>
        <% end %>

        <%= disagree_button(sign, table: true) do %>
          <%= inline_svg_pack_tag "media/images/disagree.svg", aria: true, title: "Disagree", class: "sign-card__controls--icon" %>
          <%= sign.disagree_count %>
        <% end %>
      </div>

      <%= render "signs/card/folders", sign: sign %>
    </div>
  </div>

  <div class="cell medium-1 large-1">
    <%= link_to "Edit", edit_sign_path(sign), class: "button" %>
  </div>
</div>
