<h3>Create a folder</h3>
<%= form_with(model: folder) do |f| %>
  <fieldset>
    <%= f.label :title, class: "required" %>
    <%= f.text_field :title, class: (folder.errors[:title].any? ? "error__input" : "") %>
     <% if folder.errors[:title].any? %>
      <% folder.errors[:title].each do |message| %>
        <div class="error__helper-text"><%= message %></div>
      <% end %>
    <% end %>
  </fieldset>

  <fieldset>
    <%= f.label :description %>
    <%= f.text_area :description, rows: 3 %>
  </fieldset>
  <%= f.hidden_field :user_id, value: current_user.id %>
  <%= f.submit class: "button", id: "new_article" %>
<% end %>
<button class="close-button" data-close aria-label="Close reveal" type="button">
  <span aria-hidden="true">&times;</span>
</button>
