<div class="grid-x grid-padding-x">
  <div class="cell grid-x align-middle modal-form__title">
    <h2><%= title %></h2>
    <button class="modal-form__close-button" data-close aria-label="Close reveal" type="button">
      <%= image_pack_tag "media/images/close.svg", "aria-hidden": true %>
    </button>
  </div>
  <div class="cell">
  <%= form_with(model: folder) do |f| %>
    <div class="modal-form__fields">
      <fieldset>
        <%= f.label :title, "Folder name", class: "required" %>
        <%= f.text_field :title, placeholder: "Enter a title", class: (folder.errors[:title].any? && "invalid") %>
        <% if folder.errors[:title].any? %>
          <% folder.errors[:title].each do |message| %>
            <div class="form-error show"><%= message %></div>
          <% end %>
        <% end %>
      </fieldset>

      <fieldset>
        <%= f.label :description %>
        <%= f.text_area :description, rows: 5, maxlength: "250", placeholder: "Enter a description", data: {characters: ""} %>
        <p class="help-text text-right"><span data-character-count="folder_description">0</span>/250 characters</p>
      </fieldset>
      <%= f.hidden_field :user_id, value: current_user.id %>
    </div>

    <div class="grid-x align-middle align-right modal-form__buttons">
      <button class="button clear modal-form__buttons--cancel" data-close aria-label="Close reveal" type="button">
        Cancel
      </button>
      <%= f.submit class: "button royal primary" %>
    </div>
  <% end %>
</div>
</div>
