<div class="grid-x grid-margin-x">

  <nav class="cell shrink" aria-label="You are here:" role="navigation">
    <ul class="breadcrumbs">
      <li><a href="/">Home</a></li>
      <li>
        <span class="show-for-sr">Current: </span> My folders
      </li>
    </ul>
  </nav>

  <div class="grid-x cell list">
    <div class="list__title cell grid-x align-middle">
      <h1>My folders</h1>
      <%= link_to "+ New folder", new_folder_path, id: "new-folder", class: "button royal", remote: true %>
    </div>
    <hr class="list__divider"/>
    <div class="list__items cell grid-x">
      <% @folders.each do |folder| %>
        <div class="folder cell grid-x align-middle">
          <div class="cell small-6 grid-x align-middle">
            <%= inline_svg "media/images/folder-collection.svg", class: "folder__icon folder__icon--folder icon--medium" %>
            <div class="folder__title"><%= folder.title %> ›</div>
          </div>
          <div class="cell small-3 folder__details">
            created <%= folder.created_at.strftime("%d %b %Y") %>
          </div>
          <div class="cell small-3 folder__details">
            0 signs
            <a href="#" class="folder__icon--options" data-toggle="<%= dom_id(folder, :options) %>" title="Folder Options">
              <%= inline_svg "media/images/options.svg", class: "icon--medium folder__icon" %>
            </a>
            <div class="folder__dropdown-pane" id="<%= dom_id(folder, :options) %>" data-position="bottom" data-alignment="right" data-dropdown data-hover="true" data-hover-pane="true">
              <ul class="folder__menu vertical icons">
                <li class="folder__menu-item"><a href="#"><%= inline_svg "media/images/share.svg", class: "icon--medium" %><span>Share</span></a></li>
                <li class="folder__menu-item">
                  <%= link_to edit_folder_path(folder), remote: true do %>
                    <%= inline_svg "media/images/edit.svg", class: "icon--medium" %><span>Edit</span>
                  <% end %>
                </li>
                <li class="folder__menu-item">
                  <%= link_to folder_path(folder), method: :delete, data: { confirm: "Are you sure?" } do %>
                    <%= inline_svg "media/images/trash.svg", class: "icon--medium" %><span>Delete</span>
                  <% end %>
                </li>
              </ul>
            </div>
          </div>

        </div>
      <% end %>
    </div>
  </div>
  <div class="reveal modal-form align-center" id="manage-folder-modal" data-reveal>
    Loading...
  </div>
</div>
