<% provide(:title, "My Folders") %>

<div class="grid-x grid-margin-x">

  <nav class="cell shrink" aria-label="You are here:" role="navigation">
    <ul class="breadcrumbs">
      <li><a href="/">Home</a></li>
      <li>
        <span class="show-for-sr">Current: </span> My folders
      </li>
    </ul>
  </nav>

  <div class="grid-x cell list">
    <div class="list__title cell grid-x align-middle">
      <h1>My folders</h1>
      <%= link_to "+ New folder", new_folder_path, id: "new-folder", class: "button royal primary", remote: true %>
    </div>
    <hr class="list__divider"/>
    <div class="list__items cell grid-x">
      <% @folders.each do |folder| %>
        <div class="list__item list__item--interactive cell grid-x align-middle">
          <div class="cell small-6 grid-x align-middle">
            <%= inline_svg "media/images/folder-collection.svg", class: "list__item__icon list__item__icon--folder icon--medium" %>
            <div class="list__item__title">
            <%= link_to folder_path(folder) do %>
              <%= folder.title %> ›
            <% end %>
            </div>
          </div>
          <div class="cell small-3 list__item__details">
            created <%= folder.created_at.strftime("%d %b %Y") %>
          </div>
          <div class="cell small-3 list__item__details">
            <%= pluralize(folder.signs_count, "sign") %>
            <a href="#" class="list__item__icon--options" data-toggle="<%= dom_id(folder, :options) %>" title="Folder Options">
              <%= inline_svg "media/images/options.svg", class: "icon--medium list__item__icon" %>
            </a>
            <div class="list__item-menu__dropdown-pane" id="<%= dom_id(folder, :options) %>" data-position="bottom" data-alignment="right" data-dropdown data-hover="true" data-hover-pane="true">
              <ul class="list__item-menu vertical icons">
                <li class="list__item-menu__menu-item">
                  <%= link_to folder_share_index_path(folder), method: :post, data: { confirm: t("folder_share.create.confirmation") } do %>
                    <%= inline_svg "media/images/share.svg", class: "icon--medium" %><span>Share</span>
                  <% end %>
                </li>
                <li class="list__item-menu__menu-item">
                  <%= link_to edit_folder_path(folder), remote: true do %>
                    <%= inline_svg "media/images/edit.svg" %><span>Edit</span>
                  <% end %>
                </li>
                <li class="list__item-menu__menu-item">
                  <%= link_to folder_path(folder), method: :delete, data: { confirm: t("folders.destroy.confirm") } do %>
                    <%= inline_svg "media/images/trash.svg", class: "icon--medium" %><span>Delete</span>
                  <% end %>
                </li>
              </ul>
            </div>
          </div>

        </div>
      <% end %>
    </div>
  </div>
  <div class="reveal modal-form align-center" id="manage-folder-modal" data-reveal>
    Loading...
  </div>
</div>
