<section class="navigation__wrapper" id="main-menu" data-toggler=".navigation__wrapper--open">
  <nav class="navigation">
    <ul class="navigation__list navigation__list--left">
      <li class="navigation__title"><a href="/">
        <%= image_pack_tag "logo.svg", alt: "NZSL Share", class: "hide-for-medium-only" %>
        <%= image_pack_tag "logo-stacked.svg", alt: "NZSL Share", class: "show-for-medium-only" %>
      </a></li>
    </ul>
    <ul class="row align-center navigation__list navigation__list--left navigation__list--expand">
      <li class="navigation__item columns medium-12 large-10" id="header-nav">
        <%= render "application/header/search" %>

        <ul class="dropdown menu" data-dropdown-menu data-v-offset="8" data-h-offset="8">
          <li class="navigation__item">
            <%= link_to "Browse Topics", topics_path %>
            <%= inline_svg "media/images/dropdown.svg", aria_hidden: true, class: "icon--white" %>
            <ul class="hide-if-no-js vertical menu nested is-dropdown-submenu">
              <%= safe_join Topic.featured.map { |topic| content_tag(:li, link_to(topic.name, topic)) } %>
              <hr class="menu-divider" />
              <li><%= link_to "All Topics", topics_path %></li>
            </ul>
          </li>
        </ul>
      </li>
    </ul>

    <%= render "application/header/#{user_signed_in? ? "signed_in" : "signed_out"}_navigation" %>
  </nav>

  <button class="navigation__button navigation__button--close" aria-label="Close menu" type="button" data-toggle="main-menu">
    <span aria-hidden="true">&times;</span>
  </button>
</section>
