<% user = present(current_user) %>

<ul class="navigation__list small-vertical medium-horizontal">
  <li class="navigation__item navigation__item--account">
    <a href="#account-controls" data-toggle="account-controls" class="">
      <div class="grid-x align-middle">
        <span class="show-for-large margin-right-1"><%= current_user.username %></span>
        <%= image_pack_tag(user.avatar, class: "avatar avatar--small") %>
      </div>
    </a>
  </li>
</ul>

<div
  id="account-controls"
  class="dropdown-pane account-controls bottom"
  data-dropdown
  data-hover="true"
  data-hover-pane="true"
>
  <div class="media-object">
    <div class="media-object-section">
      <%= link_to user_path(current_user.username) do %>
        <%= image_pack_tag(user.avatar, class: "avatar avatar--small") %>
      <% end %>
    </div>
    <div class="media-object-section">
      <strong><%= current_user.username %></strong>
      <p>
        <%= link_to "Edit my profile ›", edit_user_registration_path %>
      </p>
    </div>
  </div>
  <div class="text-right">
    <%= link_to "Sign out", destroy_user_session_path, method: :delete, class: "button" %>
  </div>
</div>
