<ul class="navigation__list small-vertical medium-horizontal">
  <li class="navigation__item navigation__item--account">
    <a href="#account-controls" data-toggle="account-controls">
      <span class="show-for-large"><%= current_user.username %></span>
      <% if current_user.avatar.attached? %>
        <%= image_tag transform(current_user.avatar), class: "avatar avatar--small" %>
      <% else %>
        <img
          class="avatar avatar--small avatar--right"
          src="https://picsum.photos/id/550/32/32"
          alt="Profile Image"
        />
      <% end %>
    </a>
  </li>
</ul>

<div
  id="account-controls"
  class="dropdown-pane account-controls bottom"
  data-dropdown
  data-hover="true"
  data-hover-pane="true"
>
  <div class="media-object">
    <div class="media-object-section">
      <%= link_to user_path(current_user.username) do %>
        <% if current_user.avatar.attached? %>
          <%= image_tag current_user.avatar.variant(resize_to_fill: [64, 64]).processed.service_url, class: "avatar" %>
        <% else %>
          <img
            class="avatar"
            src="https://picsum.photos/id/550/64/64"
            alt="Profile Image"
          />
        <% end %>
      <% end %>
    </div>
    <div class="media-object-section">
      <strong><%= current_user.username %></strong>
      <p>
        <%= link_to "Edit my profile ›", edit_user_registration_path %>
      </p>
    </div>
  </div>
  <div class="text-right">
    <%= link_to "Sign out", destroy_user_session_path, method: :delete, class: "button" %>
  </div>
</div>
