<% collective_class ||= field.to_s.dasherize.pluralize %>
<% attribute ||= field.to_s.underscore.pluralize.to_sym %>

<div class="<%= collective_class %> form__section">

  <%= label_tag :"new_#{field}", t(".#{field}.label") %>
  <%= content_tag(:p, t(".#{field}.hint"), class: "help-text") %>

  <% if Rails.application.config.upload_mode == :uppy %>
    <div data-controller="sign-attachment"
         data-sign-attachment-refresh-selector-value="<%= ".sign-#{collective_class}" %>"
         data-sign-attachment-url-value="<%= sign_attachments_path(@sign, attribute) %>"
         data-sign-attachment-restrictions-value="<%=
          { maxFileSize: Sign::MAXIMUM_FILE_SIZE,
            maxNumberOfFiles: attribute == :illustrations ? 3 : 2,
            allowedFileTypes: attribute == :illustrations ? ["image/*"] : ["video/*"] }.to_json %>">
      <%= button_tag "Upload files", type: :button, class: "button primary", data: { sign_attachment_target: "trigger" } %>
      <%= content_tag(:div, form.object.sign.errors.full_messages_for(attribute).join(", ")) %>
    </div>
  <% else %>
    <%= content_tag(:div,
      class: "file-upload #{collective_class}-file-upload",
      data: { sign_id: form.object.to_param, file_upload_controller: "new_#{field}" }) do %>
      <%= form.label :"#{attribute}", "Browse files", class: "button primary large" %>
      <%= form.file_field :"#{attribute}", class: (form.object.errors[attribute].any? ? "invalid" : nil) %>
      <%= content_tag(:div, form.object.sign.errors.full_messages_for(attribute).join(", ")) %>
    <% end %>
  <% end %>

  <ul class="no-bullet list list--compact sign-<%= collective_class %>">
    <% form.object.public_send(attribute).select(&:persisted?).each do |attach| %>
      <li class="list__item grid-x grid-margin-x">
        <div class="cell auto">
          <div class="list__item__title list__item__title--filename cell"><%= attach.filename %></div>
          <div class="list__item__details cell">
            <%= number_to_human_size(attach.byte_size) %>&nbsp;
            <%= inline_svg_pack_tag "media/images/agree.svg", class: "icon icon--small icon--success" %>
          </div>

          <%= label_tag :description, "Describe the content of this video for accessibility" %>
          <%= text_field_tag :description,
                            attach.blob.metadata["description"],
                            class: "js-attachment-description",
                            placeholder: "Write a short description",
                            formaction: sign_attachment_path(form.object, attach, attachment_type: attribute),
                            form: dom_id(attach, :update_form) %>
          <input type="submit"
                form="<%= dom_id(attach, :update_form) %>"
                style="visibility:hidden" />
        </div>

        <div class="cell shrink">
          <%= link_to sign_attachment_path(form.object, attach, attachment_type: attribute),
                      data: { method: :delete, remote: true },
                      class: "button icon-only clear small hide-if-no-js pull-right" do %>
            <%= inline_svg_pack_tag "media/images/trash.svg", aria: true, title: "Remove File", class: "icon icon--small icon--alert" %>
          <% end %>

          <%= button_tag formmethod: :post,
                        form: "delete_#{attribute.to_s.singularize}_form",
                        formaction: sign_attachment_path(form.object, attach, attachment_type: attribute),
                        class: "button icon-only clear small show-if-no-js pull-right" do %>
            <%= inline_svg_pack_tag "media/images/trash.svg", aria: true, title: "Remove File", class: "icon icon--small icon--alert" %>
          <% end %>
        </div>
      </li>
    <% end %>
  </ul>

</div>
