<% collective_class ||= field.to_s.dasherize.pluralize %>
<% attribute ||= field.to_s.underscore.pluralize %>

<div class="<%= collective_class %>">

<%= label_tag :"new_#{field}", t(".#{field}.label") %>
<%= content_tag(:p, t(".#{field}.hint"), class: "help-text") %>
<%= content_tag(:div,
  class: "file-upload #{collective_class}-file-upload",
  data: { sign_id: form.object.to_param, file_upload_controller: "new_#{field}" }) do %>
  <%= form.label :"#{attribute}", "Browse files", class: "button primary large" %>
  <%= form.file_field :"#{attribute}", class: (form.object.errors[attribute].any? ? "invalid" : nil) %>
  <%= content_tag(:div, form.object.sign.errors.full_messages_for(attribute).join(", ")) %>
<% end %>

<ul class="no-bullet list list--compact sign-<%= collective_class %>">
  <% form.object.public_send(attribute).select(&:persisted?).each do |attach| %>
    <li class="list__item grid-x grid-margin-x">
      <div class="cell auto">
        <span class="list__item__title"><%= attach.filename %></span>
        <span class="list__item__details">
          <%= number_to_human_size(attach.byte_size) %>&nbsp;
          <%= inline_svg "media/images/agree.svg", class: "icon icon--small icon--success" %>
        </span>

        <%= label_tag :description %>
        <%= text_field_tag :description,
                          attach.blob.metadata["description"],
                          class: "js-attachment-description",
                          placeholder: "Write a short description",
                          formaction: sign_attachment_path(form.object, attach, attachment_type: attribute),
                          form: dom_id(attach, :update_form) %>
        <input type="submit"
              form="<%= dom_id(attach, :update_form) %>"
              style="visibility:hidden" />

      </div>


      <div class="cell shrink">
        <%= link_to sign_attachment_path(form.object, attach, attachment_type: attribute),
                    data: { method: :delete, remote: true },
                    class: "button icon-only clear small hide-if-no-js pull-right" do %>
          <%= inline_svg "media/images/trash.svg", aria: true, title: "Remove File", class: "icon icon--small icon--alert" %>
        <% end %>

        <%= button_tag formmethod: :post,
                      form: "delete_#{attribute.singularize}_form",
                      formaction: sign_attachment_path(form.object, attach, attachment_type: attribute),
                      class: "button icon-only clear small show-if-no-js pull-right" do %>
          <%= inline_svg "media/images/trash.svg", aria: true, title: "Remove File", class: "icon icon--small icon--alert" %>
        <% end %>
      </div>

    </li>
  <% end %>
</ul>

</div>
