<h4><%= " #{@results.count} search result(s) returned" %></h4>
<% @results.each_with_index do |result, idx| %>
  <br>
  <h4><%= idx + 1 %></h4>
  <%= "Id: #{result["id"]}" %><br>
  <%= "English: #{result["english"]}" %><br>
  <%= "Maori: #{result["maori"]}" %><br>
<% end %>
