<h4><%= " #{@results.count} search result(s) returned" %></h4>
<% @count = 0 %>
<% @results.each do |result| %>
  <br>
  <h4><%= @count = @count + 1 %></h4>
  <%= "Id: #{result["id"]}" %><br>
  <%= "English: #{result["english"]}" %><br>
  <%= "Maori: #{result["maori"]}" %><br>
<% end %>
