<% sign = present(sign) %>

<div class="sign-card" id="<%= dom_id(sign, :card) %>">
  <div class="sign-card__media">
    <%= render "signs/card/video", sign: sign %>
  </div>
  <img class="avatar avatar--small" src="https://picsum.photos/id/550/32/32" alt="Profile Image" />
  <div class="sign-card__section">
    <div>
      <%= link_to sign_path(sign), class: "sign-card__title" do %>
        <%= sign.word %>
      <% end %>
      <div class="sign-card__subtitle">
        <p><%= sign.contributor.username %></p>
        <div class="bullet">•</div>
        <p><%= sign.friendly_date %></p>
      </div>
      <% if policy(sign).update? %>
        <h6 id="sign_status" title="<%= t("signs.#{sign.status}.card_description") %>" class="royal cell shrink margin-bottom-0 margin-left-1"> <%=t("signs.#{sign.status}.display_name") %> </h6>
      <% end %>
    </div>
    <div class="sign-card__bottom grid-x align-middle">
      <%= render "signs/card/votes", sign: sign %>
      <%= render "signs/card/folders", sign: sign %>
    </div>
  </div>
</div>
