<div class="sign-card">
  <div class="sign-card__media">
    <iframe aria-label="Sign card video" src="https://player.vimeo.com/video/155731367?title=0&byline=0&portrait=0" frameborder="0" allow="autoplay"></iframe>
  </div>
  <img class="avatar avatar--small" src="https://picsum.photos/id/550/32/32" alt="Profile Image" />
  <div class="sign-card__section">
    <div>
      <div class="sign-card__title"><%= sign.english %></div>
      <div class="sign-card__subtitle">
        <p><%= sign.contributor.username %></p>
        <div class="bullet">•</div>
        <p><%= localize sign.created_at %></p>
      </div>
    </div>
    <div class="sign-card__bottom grid-x align-middle">
      <div class="sign-card__votes">
        <div class="sign-card__votes--agree grid-x align-middle">
          <%= image_pack_tag "agree.svg", alt: "Agree", class: "sign-card__votes--icon" %>
          <div><%= sign.agree_count %></div>
        </div>
        <div class="sign-card__votes--disagree grid-x align-middle">
          <%= image_pack_tag "disagree.svg", alt: "Disagree", class: "sign-card__votes--icon" %>
          <div><%= sign.disagree_count %></div>
        </div>
      </div>
      <div class="sign-card__folders">
        <button class="sign-card__folders__button" data-toggle="<%= dom_id(sign, :folders) %>">
          <%= inline_svg "media/images/folder-add.svg", title: "Folders", aria: true, class: "icon icon-white" %>
        </button>
        <div class="sign-card__folders__menu" id="<%= dom_id(sign, :folders) %>" data-v-offset="8" data-dropdown data-auto-focus="true">
          <% memberships = FolderMembership.for(sign, current_user) %>
          <ul class="no-bullet">
            <% memberships.each do |membership| %>
              <li>
                <%= membership.folder.title %>
                <%= link_to "&times;".html_safe, folder_membership_path(membership), method: :delete, title: "Remove from Folder" %>
              </li>
            <% end %>
          </ul>

          <%= form_tag folder_memberships_path(sign_id: sign.id) do %>
            <%= hidden_field_tag :"folder_membership[sign_id]", sign.id %>
            <%= label_tag :"folder_membership[folder_id]", "Add to Folder:" %>
            <%= select_tag :"folder_membership[folder_id]", options_for_select((policy_scope(Folder) - memberships.map(&:folder)).map { |m| [m.title, m.id]  }) %>
            <%= submit_tag "Save", class: "button" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
