<% sign = present(sign) %>

<div class="sign-card">
  <div class="sign-card__media">
    <iframe aria-label="Sign card video" src="https://player.vimeo.com/video/155731367?title=0&byline=0&portrait=0" frameborder="0" allow="autoplay"></iframe>
  </div>
  <img class="avatar avatar--small" src="https://picsum.photos/id/550/32/32" alt="Profile Image" />
  <div class="sign-card__section">
    <div>
      <%= link_to sign_path(sign), class: "sign-card__title" do %>
        <%= sign.english %>
      <% end %>
      <div class="sign-card__subtitle">
        <p><%= sign.contributor.username %></p>
        <div class="bullet">•</div>
        <p><%= sign.friendly_date %></p>
      </div>
    </div>
    <div class="sign-card__bottom grid-x align-middle">
      <%= render "signs/card/votes", sign: sign %>
      <%= render "signs/card/folders", sign: sign %>
    </div>
  </div>
</div>
