<% sign = present(sign) %>

<div class="sign-card" id="<%= dom_id(sign, :card) %>">
  <div class="sign-card__media">
    <%= render "signs/card/video", sign: sign %>
  </div>
  <div class="sign-card__section">
    <%= link_to sign_path(sign) do %>
      <h1 class="sign-card__title"><%= sign.word %></h1>
    <% end %>


    <div class="sign-card__supplementary-titles">
      <%= content_tag(:h2, sign.maori,
                            class: "sign-card__supplementary-titles__maori small") \
                            if sign.maori %>
      <%= content_tag(:h3, sign.truncated_secondary,
                            class: "sign-card__supplementary-titles__secondary small") \
                            if sign.secondary %>
    </div>

    <div class="sign-card__section--vertical">
      <% if policy(sign).overview? %>
        <small id="sign_status" title="<%= sign.status_description %>" class="sign-card__status"> <%= sign.status_name %> </small>
      <% end %>

      <div class="sign-card__subtitle">
        <%= inline_svg "media/images/user.svg", aria_hidden: true %>
        <div><%= sign.contributor.username %></div>
        <div class="bullet">
          <% if sign.contributor.username.length < 16 %>
          •
          <% else%>
          &nbsp;
          <% end %>
        </div>
        <div><%= sign.friendly_date %></div>
      </div>
    </div>
  </div>
  <div class="sign-card__bottom grid-x align-middle">
    <%= render "signs/card/votes", sign: sign %>
    <%= render "signs/card/folders", sign: sign %>
  </div>
</div>
