<div class="cell small-1">
  <a href="#" class="list__item__icon--options" data-toggle="sign_options" title="Sign Options">
    <%= inline_svg "media/images/options.svg", class: "icon icon--royal icon--mid list__item__icon" %>
  </a>
  <div class="list__item-menu__dropdown-pane" id="sign_options" data-position="bottom" data-alignment="right" data-dropdown data-hover="true" data-hover-pane="true">
    <ul class="list__item-menu vertical icons">
      <% if policy(@sign).edit?%>
        <li class="list__item-menu__menu-item">
          <%= link_to edit_sign_path(@sign) do %>
            <%= inline_svg "media/images/edit.svg", title: "Edit", aria_hidden: true, class: "icon--medium" %>
            <span>Edit</span>
          <% end %>
        </li>
      <% end %>

      <% if policy(@sign).cancel_submit? %>
        <li class="list__item-menu__menu-item">
          <%= link_to sign_workflow_path(sign, :cancel_submit), method: :patch, data: { confirm: t("sign_workflow.cancel_submit.confirm") } do %>
            <%= inline_svg "media/images/disagree.svg", title: "Cancel", class: "icon--medium" %>
            <span><%= t("sign_workflow.cancel_submit.link_to") %></span>
          <% end %>
        </li>
      <% end %>

      <% if policy(@sign).unpublish? %>
        <li class="list__item-menu__menu-item">
          <%= link_to sign_workflow_path(sign, :unpublish), method: :patch, data: { confirm: t("admin.sign_workflow.unpublish.confirm") } do %>
            <%= inline_svg "media/images/disagree.svg", title: "Cancel", class: "icon--medium" %>
            <span><%= t("admin.sign_workflow.unpublish.link_to") %></span>
          <% end %>
        </li>
      <% end %>

      <% if policy(@sign).publish? %>
        <li class="list__item-menu__menu-item">
          <%= link_to sign_workflow_path(sign, :publish), method: :patch, data: { confirm: t("sign_workflow.publish.confirm") } do %>
            <%= inline_svg "media/images/eye.svg", title: "Public", class: "icon--medium" %>
            <span><%= t("sign_workflow.publish.link_to") %></span>
          <% end %>
        </li>
      <% end %>

      <% if policy(@sign).request_unpublish? %>
        <li class="list__item-menu__menu-item">
          <%= link_to sign_workflow_path(sign, :request_unpublish), method: :patch, data: { confirm: t("sign_workflow.request_unpublish.confirm") } do %>
            <%= inline_svg "media/images/private.svg", title: "Private", class: "icon--medium" %>
            <span><%= t("sign_workflow.request_unpublish.link_to") %></span>
          <% end %>
        </li>
      <% end %>

      <% if policy(@sign).cancel_request_unpublish? %>
        <li class="list__item-menu__menu-item">
          <%= link_to sign_workflow_path(sign), method: :patch, data: { confirm: t("sign_workflow.cancel_request_unpublish.confirm") } do %>
            <%= inline_svg "media/images/eye.svg", title: "Public", class: "icon--medium" %>
            <span><%= t("sign_workflow.cancel_request_unpublish.link_to") %></span>
          <% end %>
        </li>
      <% end %>
    </ul>
  </div>
</div>
