<% sign = present(sign) %>

<tr class="sign-table-row">
  <td>
    <%= image_tag(url_for(sign.video.preview(ThumbnailPreset.default.scale_360.to_h).image)) %>
  </td>

  <td>
    <%= link_to sign_path(sign) do %>
      <h1 class="sign-card__title"><%= sign.word %></h1>
    <% end %>

    <%= content_tag(:h2, sign.topics.pluck(:name).join(", "),
                          class: "sign-card__supplementary-titles__secondary small") %>
  </td>

  <td>
    <% if policy(sign).overview? %>
      <small id="sign_status" title="<%= sign.status_description %>" class="sign-card__status"> <%= sign.status_name %> </small>
    <% end %>
  </td>

  <td>
    <div class="sign-card__subtitle">
      <%= inline_svg_pack_tag "media/images/user.svg", aria_hidden: true %>
      <%= link_to user_path(sign.contributor.username) do %>
        <%= sign.contributor.username %>
      <% end %>
      <div><%= sign.friendly_date %></div>
    </div>
  </td>

  <td>
    <%= render "signs/card/controls", sign: sign %>
  </td>
</tr>