
<div class="grid-x grid-margin-x content-container">
  <%= form_with model: @sign, local: true, class: "cell form", method: "Patch" do |f| %>
    <h1 class="">Edit sign details</h1>
    <hr class="form__divider"/>
    <div class="js-sign-video-container"/>
    <div class="row align-middle small-12">
      <video <%= @sign.sign_video_attributes %> poster="<%= @sign.poster_url %>">
        <%= @sign.sign_video_sourceset %>
      </video>
      <b class="small-6 medium-4 "><%=@sign.word %></b>
    </div>
    <fieldset class="content-container">
      <%= f.label :word, "Word", class: "required" %>
      <%= f.text_field :word, placeholder: "Enter the word/phrase for this sign", class: (@sign.errors[:word].any? && "invalid") %>
      <% if @sign.errors[:word].any? %>
        <% @sign.errors[:word].each do |message| %>
          <div class="form-error show"><%= message %></div>
        <% end %>
      <% end %>
    </fieldset>
    <fieldset>
      <%= f.label :maori, "Te Reo Māori" %>
      <%= f.text_field :maori, placeholder: "Enter the Te Reo Māori word/phrase for this sign here", class: (@sign.errors[:maori].any? && "invalid") %>
    </fieldset>
    <fieldset>
      <%= f.label :topic_id, "Topic" %>
      <%= f.collection_select :topic_id, Topic.all, :id, :name %>
    </fieldset>
    <fieldset>
      <%= f.label :secondary, "Other words" %>
      <%= f.text_field :secondary, placeholder: "Enter any alternative spellings or synonyms for this sign here", class: (@sign.errors[:secondary].any? && "invalid") %>
    </fieldset>
    <fieldset>
      <%= f.label :notes, "Notes" %>
      <%= f.text_area :notes, placeholder: "Enter any additional notes here", rows: 5, class: (@sign.errors[:notes].any? && "invalid") %>
    </fieldset>
    <div class="grid-x align-right form__buttons">
      <%= link_to "Cancel", sign_path(@sign), class: "button clear form__buttons--cancel" %>
      <%= f.submit class: "button royal primary" %>
    </div>
  <% end %>
</div>

<% unless @sign.fully_processed? %>
  <%= javascript_tag defer: "defer", nonce: true do %>
    var selector = ".js-sign-video-container";
    var updateInterval = <%= Rails.env.test? ? 500 : 5000 %>; // ms
    var intervalId

    function refresh() {
      var $currentContainer = jQuery(selector);
      var $currentVideo = $currentContainer.find("video.sign-video");
      jQuery.ajax( {
        url: window.location,
        dataType: "html"
      }).done(function(responseText) {
        var $newVideoContainer = jQuery("<div>").append(jQuery.parseHTML(responseText)).find(selector);
        var $newVideo = $newVideoContainer.find("video.sign-video");

        // Stop polling once the video has been processed
        if ($newVideo.hasClass("has-video")) clearInterval(intervalId);

        // Only refresh the HTML of the element if the classes of the video have changed
        if ($newVideo.get(0).classList.value !== $currentVideo.get(0).classList.value) {
          $currentContainer.html($newVideoContainer.html());
        }
      });
    }

    jQuery(function() {
      intervalId = setInterval(refresh, updateInterval);
    });
  <% end %>
<% end %>
