<% provide(:title, "Edit '#{@sign.word}'") %>
<% @sign = present(@sign) %>
<%= content_for :head do %>
  <%= javascript_pack_tag "contributions", "data-turbolinks-track": "reload" %>
<% end %>


<div class="grid-x grid-margin-x content-container ">
  <%= form_with model: @sign, url: sign_path(@sign), local: true, class: "cell small-12 large-8 form", method: :patch do |f| %>
    <%= render "errors" %>
    <fieldset class="form-section">
      <legend class="form-section__header"><h1 class="black">Edit sign</h1></legend>
      <div class="form-section__content">
        <fieldset class="form-section">
          <legend class="form-section__header"><h2 class="primary">Sign details</h2></legend>

          <div class="form-section__content">
            <div class="file-preview js-sign-video-container">
              <div class="file-preview__media">
                <%= render "signs/card/video", sign: @sign, overlay: false %>
              </div>
              <div class="file-preview__metadata">
                <span class="file-preview__metadata__key">
                  <%= @sign.video.filename %>
                </span>
                <%= inline_svg "media/images/tick.svg" %>
                <br />
                <span class="file-preview__metadata__value">
                  <%= number_to_human_size @sign.video.byte_size %>
                </span>
              </div>
            </div>

            <%= f.label :word, "Sign / Word", class: "required" %>
            <%= f.text_field :word %>
            <%= f.error :word %>

            <%= f.label :secondary, "Other words for this sign" %>
            <%= f.text_field :secondary %>
            <%= f.error :secondary %>

            <%= f.label :maori, "MÄori translation" %>
            <%= f.text_field :maori %>
            <%= f.error :maori %>

            <%= f.label :topic_id, "Topic" %>
            <%= f.collection_select :topic_id, Topic.all, :id, :name, prompt: "-- Please select --" %>
          </div>
        </fieldset>

        <fieldset class="form-section">
          <legend class="form-section__header"><h2 class="primary">Other details</h2></legend>
          <div class="form-section__content">
            <%= f.label :notes, "Notes" %>
            <p class="help-text">(e.g. where have you seen this sign used?)</p>
            <%= f.text_area :notes, rows: 5, placeholder: "Enter your notes here", class: (@sign.errors[:notes].any? && "invalid") %>

            <%= render "signs/edit/attachment", field: :usage_example, form: f %><br />
            <%= render "signs/edit/attachment", field: :illustration, form: f %>
          </div>
        </fieldset>

        <% if policy(f.object).submit? || policy(f.object).cancel_submit? %>
        <fieldset class="form-section">
          <legend class="form-section__header"><h2 class="primary">Public</h2></legend>
          <div class="form-section__content">
            <%= label :should_submit_for_publishing, "Do you want your sign to be public?" do %>
              <span>
                <h3>Do you want your sign to be public?</h3>
                <p> Your sign will go through a validation process with our NZSL Share moderators before it is published. </p>
              </span>
            <% end %>

            <div class="radio">
              <%= radio_button_tag(:should_submit_for_publishing, "true", !!@sign.submitted_to_publish?,
                    data: { toggle_truthy: "#terms-and-conditions" }) %>
                <%= label_tag(:should_submit_for_publishing_true, "Yes, request my sign be public") %>
            </div>

            <div class="radio">
              <%= radio_button_tag(:should_submit_for_publishing, "false", !@sign.submitted_to_publish?) %>
                <%= label_tag(:should_submit_for_publishing_false, "No, keep my sign private") %>
            </div>
          </div>
        </fieldset>

        <fieldset class="form-section" id="terms-and-conditions">
          <legend class="form-section__header">
            <h2 class="primary">Terms and Conditions</h2>
          </legend>
          <div class="form-section__content">
            <div class="checkbox">
              <%= f.check_box :conditions_accepted, class: (@sign.errors[:conditions_accepted].any? && "invalid")%>
              <%= f.label :conditions_accepted, "I agree to follow the terms and conditions (rules)" %>
            </div>
          </div>
        </fieldset>

        <% end %>
      </div>
    </fieldset>

    <div class="grid-x form__buttons align-justify">
      <div class="pull-left">
        <%= link_to t("signs.destroy.link"),
                    sign_path(@sign),
                    method: :delete,
                    data: { confirm: t("signs.destroy.confirm") },
                    class: "button alert" if policy(@sign).destroy? %>
        <%= link_to t("admin.sign_workflow.unpublish.link_to"),
                    unpublish_sign_path(@sign),
                    method: :patch,
                    data: { confirm: t("admin.sign_workflow.unpublish.confirm") },
                    class: "button alert" if policy(@sign).unpublish? %>
      </div>

      <div class="pull-right">
        <%= link_to "Cancel", sign_path(@sign), class: "button clear form__buttons--cancel" %>
        <%= f.submit class: "button royal primary" %>
      </div>
    </div>
  <% end %>
</div>

<% unless @sign.fully_processed? %>
  <%= javascript_tag defer: "defer", nonce: true do %>
    var selector = ".js-sign-video-container";
    var updateInterval = <%= Rails.env.test? ? 500 : 5000 %>; // ms
    var intervalId

    function refresh() {
      var $currentContainer = jQuery(selector);
      var $currentVideo = $currentContainer.find(".video");
      jQuery.ajax( {
        url: window.location,
        dataType: "html"
      }).done(function(responseText) {
        var $newVideoContainer = jQuery("<div>").append(jQuery.parseHTML(responseText)).find(selector);
        var $newVideo = $newVideoContainer.find(".video");

        // Stop polling once the video has been processed
        if ($newVideo.hasClass("has-video")) clearInterval(intervalId);

        // Only refresh the HTML of the element if the classes of the video have changed
        if ($newVideo.get(0) && ($newVideo.get(0).classList.value !== $currentVideo.get(0).classList.value)) {
          $currentContainer.html($newVideoContainer.html());
        }
      });
    }

    jQuery(function() {
      intervalId = setInterval(refresh, updateInterval);
    });
  <% end %>
<% end %>

<% @sign.usage_examples.select(&:persisted?).each do |attach| %>
  <%= form_tag sign_attachment_path(@sign, attach, attachment_type: :usage_examples),
               id: dom_id(attach, :update_form),
               method: :patch do %><% end %>
<% end %>

<% @sign.illustrations.select(&:persisted?).each do |attach| %>
  <%= form_tag sign_attachment_path(@sign, attach, attachment_type: :illustrations),
               id: dom_id(attach, :update_form),
               method: :patch do %><% end %>
<% end %>


<form id="delete_usage_example_form" data-remote>
  <input type="hidden" name="_method" value="DELETE" />
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
</form>

<form id="delete_illustration_form" data-remote>
  <input type="hidden" name="_method" value="DELETE" />
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
</form>
