<% provide(:title, "Edit '#{@sign.word}'") %>
<% @sign = present(@sign) %>
<%= content_for :head do %>
  <%= javascript_pack_tag "contributions", "data-turbolinks-track": "reload" %>
<% end %>


<div class="grid-x grid-margin-x content-container ">
  <%= form_with model: @sign, url: sign_path(@sign), local: true, class: "cell small-12 large-8 form", method: :patch do |f| %>
    <fieldset class="form-section">
      <legend class="form-section__header"><h1 class="black">Edit sign</h1></legend>
      <div class="form-section__content">
        <fieldset class="form-section">
          <legend class="form-section__header"><h2 class="primary">Sign details</h2></legend>

          <div class="form-section__content">
            <div class="file-preview js-video-container">
              <div class="file-preview__media">
                <%= render "signs/card/video", sign: @sign, overlay: false %>
              </div>
              <div class="file-preview__metadata">
                <span class="file-preview__metadata__key">
                  <%= @sign.video.filename %>
                </span>
                <%= inline_svg "media/images/tick.svg" %>
                <br />
                <span class="file-preview__metadata__value">
                  <%= number_to_human_size @sign.video.byte_size %>
                </span>
              </div>
            </div>

            <%= f.label :word, "Sign / word:", class: "required" %>
            <%= f.text_field :word, class: (@sign.errors[:word].any? && "invalid") %>
            <% if @sign.errors[:word].any? %>
              <% @sign.errors[:word].each do |message| %>
                <div class="form-error show"><%= message %></div>
              <% end %>
            <% end %>

            <%= f.label :secondary, "Other words for this sign:" %>
            <%= f.text_field :secondary, class: (@sign.errors[:secondary].any? && "invalid") %>

            <%= f.label :maori, "MÄori translation:" %>
            <%= f.text_field :maori, class: (@sign.errors[:maori].any? && "invalid") %>

            <%= f.label :topic_id, "Topic:" %>
            <%= f.collection_select :topic_id, Topic.all, :id, :name %>
          </div>
        </fieldset>

        <fieldset class="form-section">
          <legend class="form-section__header"><h2 class="primary">Other details</h2></legend>
          <div class="form-section__content">
            <%= f.label :notes, "Notes" %>
            <p class="help-text">Provide a short description of the sign and other notes eg. where have you seen this sign used?</p>
            <%= f.text_area :notes, rows: 5, placeholder: "Enter your notes here", class: (@sign.errors[:notes].any? && "invalid") %>

            <!-- 'Usage' and 'Illustration' go here -->

            <em>'Usage' and 'Illustration' behaviours are not yet functional!</em>

            <%= f.label :usage_examples, "Usage" %>
            <p class="help-text">Upload up to 2 videos showing in usage</p>
            <div class="file-upload" data-file-upload-controller>
              <%= f.label :usage_examples, "Browse files", class: "button primary large" %>
              <%= f.file_field :usage_examples, direct_upload: true, class: "show-for-sr" %>
              <%= f.submit "Start Upload", class: "button secondary large" %>
            </div>

            <ul class="no-bullet list list--compact">
                <li class="list__item--compact">
                  <span>mov-214.mp4</span>
                  <aside class="list__item__details margin-right-1">84 MB&nbsp;</aside>
                  <%= inline_svg "media/images/agree.svg", class: "icon icon--small icon--success margin-right-1" %>
                  <%= button_to "/",
                                method: :delete,
                                class: "button icon-only clear medium small",
                                title: "Remove File" do %>
                                <%= inline_svg "media/images/close.svg", class: "icon icon--small icon--medium" %>
                  <% end %>
                </li>
            </ul>

            <%= f.label :illustrations, "Illustration", class: "margin-top-1" %>
            <p class="help-text">Upload up to 3 images of this sign being used</p>
            <div class="file-upload" data-file-upload-controller>
              <%= f.label :illustrations, "Browse files", class: "button primary large" %>
              <%= f.file_field :illustrations, direct_upload: true, class: "show-for-sr" %>
              <%= f.submit "Start Upload", class: "button secondary large" %>
            </div>
          </div>
        </fieldset>

        <fieldset class="form-section">
          <legend class="form-section__header"><h2 class="primary">Public</h2></legend>
          <div class="form-section__content">
            <%= label :should_submit_for_publishing, "Do you want your sign to be public?" do %>
              <span>
                <h3>Do you want your sign to be public?</h3>
                <p> Your sign will go through a validation process with our NZSL Share moderators before it is published. </p>
              </span>
            <% end %>

            <div class="radio">
              <%= radio_button_tag(:should_submit_for_publishing, "true", !!@sign.submitted_to_publish?,
                    data: { toggle_truthy: "#terms_and_conditions" }) %>
                <%= label_tag(:should_submit_for_publishing_true, "Yes, request my sign be public") %>
            </div>

            <div class="radio">
              <%= radio_button_tag(:should_submit_for_publishing, "false", !@sign.submitted_to_publish?) %>
                <%= label_tag(:should_submit_for_publishing_false, "No, keep my sign private") %>
            </div>
          </div>
        </fieldset>

        <fieldset class="form-section" id="terms-and-conditions">
          <legend class="form-section__header">
            <h2 class="primary">Terms and Conditions</h2>
          </legend>
          <div class="form-section__content">
            <div class="checkbox">
              <%= f.check_box :conditions_accepted, class: (@sign.errors[:conditions_accepted].any? && "invalid")%>
              <%= f.label :conditions_accepted, "I agree to follow the terms and conditions (rules)" %>
            </div>
          </div>
        </fieldset>
      </div>
    </fieldset>

    <div class="grid-x form__buttons align-justify">
      <div class="pull-left">
        <%= link_to t("signs.destroy.link"),
                    sign_path(@sign),
                    method: :delete,
                    data: { confirm: t("signs.destroy.confirm") },
                    class: "button alert" %>
      </div>

      <div class="pull-right">
        <%= link_to "Cancel", sign_path(@sign), class: "button clear form__buttons--cancel" %>
        <%= f.submit class: "button royal primary" %>
      </div>
    </div>
  <% end %>
</div>

<% unless @sign.fully_processed? %>
  <%= javascript_tag defer: "defer", nonce: true do %>
    var selector = ".js-sign-video-container";
    var updateInterval = <%= Rails.env.test? ? 500 : 5000 %>; // ms
    var intervalId

    function refresh() {
      var $currentContainer = jQuery(selector);
      var $currentVideo = $currentContainer.find("video.sign-video");
      jQuery.ajax( {
        url: window.location,
        dataType: "html"
      }).done(function(responseText) {
        var $newVideoContainer = jQuery("<div>").append(jQuery.parseHTML(responseText)).find(selector);
        var $newVideo = $newVideoContainer.find("video.sign-video");

        // Stop polling once the video has been processed
        if ($newVideo.hasClass("has-video")) clearInterval(intervalId);

        // Only refresh the HTML of the element if the classes of the video have changed
        if ($newVideo.get(0) && ($newVideo.get(0).classList.value !== $currentVideo.get(0).classList.value)) {
          $currentContainer.html($newVideoContainer.html());
        }
      });
    }

    jQuery(function() {
      intervalId = setInterval(refresh, updateInterval);
    });
  <% end %>
<% end %>
