<div class="grid-x grid-margin-x content-container">
  <%= form_with model: @sign, local: true, class: "cell" do |f| %>
    <%= f.label :word, "Word", class: "required" %>
    <%= f.text_field :word, placeholder: "Enter the word/phrase for this sign", class: (@sign.errors[:word].any? && "invalid") %>
    <% if @sign.errors[:word].any? %>
      <% @sign.errors[:word].each do |message| %>
        <div class="form-error show"><%= message %></div>
      <% end %>
    <% end %>
    <%= f.label :maori, "Te Reo Māori" %>
    <%= f.text_field :maori, placeholder: "Enter the Te Reo Māori word/phrase for this sign here", class: (@sign.errors[:maori].any? && "invalid") %>
    <%= f.label :topic_id, "Topic" %>
    <%= f.collection_select :topic_id, Topic.all, :id, :name %>
    <%= f.label :secondary, "Other information" %>
    <%= f.text_field :secondary, placeholder: "You can include the meaning of this word/phrase, or why you use or like this sign here", class: (@sign.errors[:secondary].any? && "invalid") %>
    <%= f.label :notes, "Notes" %>
    <%= f.text_area :notes, placeholder: "Enter any additional notes here", rows: 5, class: (@sign.errors[:notes].any? && "invalid") %>
    <%= f.submit class: "button royal" %>
  <% end %>
</div>
