
<div class="grid-x grid-margin-x content-container">
  <%= form_with model: @sign, local: true, class: "cell form" do |f| %>
    <h1 class="">Edit sign details</h1>
    <hr class="form__divider"/>
    <fieldset class="content-container">
      <%= f.label :word, "Sign / word:", class: "required" %>
      <%= f.text_field :word, class: (@sign.errors[:word].any? && "invalid") %>
      <% if @sign.errors[:word].any? %>
        <% @sign.errors[:word].each do |message| %>
          <div class="form-error show"><%= message %></div>
        <% end %>
      <% end %>
    </fieldset>
    <fieldset>
      <%= f.label :maori, "MÄori translation:" %>
      <%= f.text_field :maori, class: (@sign.errors[:maori].any? && "invalid") %>
    </fieldset>
    <fieldset>
      <%= f.label :topic_id, "Topic:" %>
      <%= f.collection_select :topic_id, Topic.all, :id, :name %>
    </fieldset>
    <fieldset>
      <%= f.label :secondary, "Other words for this sign:" %>
      <%= f.text_field :secondary, class: (@sign.errors[:secondary].any? && "invalid") %>
    </fieldset>
    <fieldset>
      <%= f.label :notes, "Notes (e.g. where have you seen the sign used?):" %>
      <%= f.text_area :notes, rows: 5, class: (@sign.errors[:notes].any? && "invalid") %>
    </fieldset>
    <div class="grid-x align-right form__buttons">
      <%= link_to "Cancel", sign_path(@sign), class: "button clear form__buttons--cancel" %>
      <%= f.submit class: "button royal primary" %>
    </div>
  <% end %>
</div>
