<% provide(:title, "Edit '#{@sign.word}'") %>
<% @sign = present(@sign) %>
<%= content_for :head do %>
  <% unless @sign.fully_processed? %>
    <%= javascript_pack_tag "edit", async: true, defer: true %>
  <% end %>
  <%= javascript_pack_tag "contributions", async: true, defer: true %>
<% end %>

<div class="grid-x">
<div class="cell medium-8 margin-top-2">
  <%= form_with model: @sign, url: sign_path(@sign), local: true, class: "form", method: :patch do |f| %>
    <%= render "errors" %>
    <legend class="form__header"><h1 class="black">Edit sign</h1></legend>
    <hr class="form__divider">

    <fieldset class="form__section">
      <legend><h2 class="primary">Sign details</h2></legend>
      <hr class="form__divider">
      <div class="file-preview js-sign-video-container" data-controller="update-sign-video" data-update-sign-video-sign-id-value="<%= @sign.to_param %>">
        <div class="file-preview__media">
          <%= render "signs/card/video", sign: @sign, overlay: false %>
        </div>
        <div class="file-preview__metadata">
          <span class="file-preview__metadata__key">
            <%= @sign.video.filename %>
          </span>
          <%= inline_svg_pack_tag "media/images/tick.svg" %>
          <br />
          <span class="file-preview__metadata__value">
            <%= number_to_human_size @sign.video.byte_size %>
          </span>

          <%= button_tag "Change video", class: "button clear", type: "button", data: { update_sign_video_target: "trigger" } %>
        </div>
      </div>

      <%= f.label :word, "Sign / Word", class: "required" %>
      <%= f.text_field :word %>
      <%= f.error :word %>

      <%= f.label :secondary, "Other words for this sign" %>
      <%= f.text_field :secondary %>
      <%= f.error :secondary %>

      <%= f.label :maori, "MÄori translation" %>
      <%= f.text_field :maori %>
      <%= f.error :maori %>

      <%= f.label :topics, "Topics" %>
      <%= f.collection_select :topic_ids, Topic.all, :id, :name, { selected: @sign.topics.map(&:id) }, { class: "js-chosen-topics", multiple: true } %>
    </fieldset>

    <fieldset class="form__section">
      <legend><h2 class="primary">Other details</h2></legend>
      <hr class="form__divider">
      <%= f.label :notes, "Notes" %>
      <p class="help-text">(e.g. where have you seen this sign used?)</p>
      <%= f.text_area :notes, rows: 5, placeholder: "Enter your notes here", class: (@sign.errors[:notes].any? && "invalid") %>
    </fieldset>

    <%= render "signs/edit/attachment", field: :usage_example, form: f %>
    <%= render "signs/edit/attachment", field: :illustration, form: f %>

    <% if policy(f.object).submit? || policy(f.object).cancel_submit? %>
      <fieldset class="form__section">
        <legend><h2 class="primary">Public</h2></legend>
        <hr class="form__divider">
        <%= label :should_submit_for_publishing, "Do you want your sign to be public?" do %>
          <span>
            <h3>Do you want your sign to be public?</h3>
            <p> An NZSL Share moderator will check your sign before it is made public.</p>
          </span>
        <% end %>

        <div class="radio">
          <%= radio_button_tag(:should_submit_for_publishing, "true", !!@sign.submitted_to_publish?,
                data: { toggle_truthy: "#privacy-policy" }) %>
            <%= label_tag(:should_submit_for_publishing_true, "Yes, I want my sign to be public") %>
        </div>

        <div class="radio">
          <%= radio_button_tag(:should_submit_for_publishing, "false", !@sign.submitted_to_publish?) %>
            <%= label_tag(:should_submit_for_publishing_false, "No, keep my sign private") %>
        </div>
      </fieldset>

      <fieldset class="form__section" id="privacy-policy">
        <legend>
          <h2 class="primary">Privacy Policy</h2>
        </legend>
        <div class="checkbox">
          <%= f.check_box :conditions_accepted, class: (@sign.errors[:conditions_accepted].any? && "invalid")%>
          <%= f.label :conditions_accepted do %>
            I agree to follow the &nbsp;<%= link_to "privacy policy", page_url("privacy-policy") %>
          <% end %>
        </div>
      </fieldset>
    <% end %>

    <hr class="form__divider">

    <div class="form__footer form__footer--buttons-justified">
      <div>
        <%= link_to t("signs.destroy.link"),
                    sign_path(@sign),
                    method: :delete,
                    data: { confirm: t("signs.destroy.confirm") },
                    class: "button alert" if policy(@sign).destroy? %>
        <%= link_to t("admin.sign_workflow.unpublish.link_to"),
                    unpublish_sign_path(@sign),
                    method: :patch,
                    data: { confirm: t("admin.sign_workflow.unpublish.confirm") },
                    class: "button alert" if policy(@sign).unpublish? %>
      </div>

      <div>
        <%= link_to "Cancel", sign_path(@sign), class: "button clear margin-right-1" %>
        <%= f.submit class: "button royal primary" %>
      </div>
    </div>
  <% end %>
</div>
</div>

<% @sign.usage_examples.select(&:persisted?).each do |attach| %>
  <%= form_tag sign_attachment_path(@sign, attach, attachment_type: :usage_examples),
               id: dom_id(attach, :update_form),
               method: :patch do %><% end %>
<% end %>

<% @sign.illustrations.select(&:persisted?).each do |attach| %>
  <%= form_tag sign_attachment_path(@sign, attach, attachment_type: :illustrations),
               id: dom_id(attach, :update_form),
               method: :patch do %><% end %>
<% end %>


<form id="delete_usage_example_form" data-remote>
  <input type="hidden" name="_method" value="DELETE" />
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
</form>

<form id="delete_illustration_form" data-remote>
  <input type="hidden" name="_method" value="DELETE" />
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
</form>
