<% provide(:title, "New Sign") %>
<% contribution_limit = current_user.batch_sign_contributions_permitted? ? current_user.contribution_limit - current_user.signs.count : 1 %>

<%= content_for :head do %>
  <%= javascript_pack_tag "contributions", async: true, defer: true %>
<% end %>

<div class="grid-x margin-top-2 form">
  <div class="cell form__header">
      <h1 class="primary">Add a sign</h1>
  </div>

  <hr class="form__divider">
  <div class="cell grid-x padding-2">
    <%= render "errors" %>
    <%= form_with model: @sign, class: "cell", id: "new_sign" do |f| %>
      <% if Rails.application.config.upload_mode == :uppy %>
        <div data-controller="create-sign"
             data-create-sign-contribution-limit-value="<%= contribution_limit %>">
              <%= f.label :video, "Browse files", class: "button primary large" %>
              <%= f.file_field :video, class: "show-for-sr" %>
              <%= f.submit "Start Upload", class: "button secondary large" %>
        </div>
      <% else %>
        <div class="file-upload" data-file-upload-controller="sign[video]">
          <%= f.label :video, "Browse files", class: "button primary large" %>
          <%= f.file_field :video, class: "show-for-sr" %>
          <%= f.submit "Start Upload", class: "button secondary large" %>
        </div>
      <% end %>
    <% end %>

    <div class="cell padding-top-1 padding-bottom-1">
      <h2 class="primary">Tips to record a good sign video</h2>
    </div>
    <hr class="form__divider">
    <div class="cell padding-top-1 padding-bottom-1" id="sign-video-upload-tips">
      <ol>
        <li>Record the sign on its own (you can record an example sentence or other detail later if you want to)</li>
        <li>Keep recordings under 5 seconds</li>
        <li>Include head to waist, not too close or too far away</li>
        <li>Think about good background, lighting and angle</li>
        <li>Wear plain clothes - no distracting patterns</li>
        <li>On your phone, record in landscape (wide) mode</li>
      </ol>
    </div>

    <div class="cell grid-x">
      <div class="cell medium-5 margin-right-2">
        <%= image_pack_tag "media/images/good-example.jpg", alt: "Good sign video example image" %>
      </div>
      <div class="cell auto">
        <ul class="sign-examples__list">
          <li class="grid-x align-middle">
            <%= inline_svg_pack_tag "media/images/tick.svg" %>
            <div>landscape (wide)</div>
          </li>
          <li class="grid-x align-middle">
            <%= inline_svg_pack_tag "media/images/tick.svg" %>
            <div>clear background</div>
          </li>
          <li class="grid-x align-middle">
            <%= inline_svg_pack_tag "media/images/tick.svg" %>
            <div>plain top</div>
          </li>
          <li class="grid-x align-middle">
            <%= inline_svg_pack_tag "media/images/tick.svg" %>
            <div>shows face and full upper body</div>
          </li>
          <li class="grid-x align-middle">
            <%= inline_svg_pack_tag "media/images/tick.svg" %>
            <div>good distance from the camera</div>
          </li>
          <li class="grid-x align-middle">
            <%= inline_svg_pack_tag "media/images/tick.svg" %>
            <div>good angle</div>
          </li>
        </ul>
      </div>
    </div>

    <div class="cell padding-top-2 grid-x">
      <div class="cell medium-5 margin-right-2">
        <div class="sign-examples__image">
          <%= image_pack_tag "media/images/bad-example.jpg", alt: "Bad sign video example image", class: "sign-examples__image--bad" %>
        </div>
      </div>
      <div class="cell auto">
        <ul class="sign-examples__list">
          <li class="grid-x align-middle">
            <%= inline_svg_pack_tag "media/images/remove.svg", class: " icon icon--small icon--alert" %>
            <div>portrait (tall)</div>
          </li>
          <li class="grid-x align-middle">
            <%= inline_svg_pack_tag "media/images/remove.svg", class: " icon icon--small icon--alert" %>
            <div>window too bright</div>
          </li>
          <li class="grid-x align-middle">
            <%= inline_svg_pack_tag "media/images/remove.svg", class: " icon icon--small icon--alert" %>
            <div>patterned clothing</div>
          </li>
          <li class="grid-x align-middle">
            <%= inline_svg_pack_tag "media/images/remove.svg", class: " icon icon--small icon--alert" %>
            <div>too far away</div>
          </li>
          <li class="grid-x align-middle">
            <%= inline_svg_pack_tag "media/images/remove.svg", class: " icon icon--small icon--alert" %>
            <div>arms/hands not clear to see</div>
          </li>
          <li class="grid-x align-middle">
            <%= inline_svg_pack_tag "media/images/remove.svg", class: " icon icon--small icon--alert" %>
            <div>bad angle</div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
