
  <div class="grid-x grid-margin-x align-center" style="margin-top:1rem;">
    <div class="cell">
      <div class="responsive-embed">
        <iframe
          src="https://player.vimeo.com/video/361959003"
          width="1080"
          height="720"
          frameborder="0"
          allow="autoplay; fullscreen"
          allowfullscreen
        ></iframe>
      </div>

      <h2><%= @sign.english %></h2>
      <small>
        <%= @sign.contributor.username %>
        &nbsp;•&nbsp;
        <%= localize(@sign.created_at, format: "%-d %B %Y") %>
        <% if @sign.topic %>
          &nbsp;•&nbsp;
          <%= @sign.topic.name %>
        <% end %>
      </small>
      <hr />

      <div class="grid-x">
        <div class="cell shrink">
          <%= link_to "#", class: "button" do %>
            <%= inline_svg "media/images/agree.svg", aria_hidden: true, class: "icon icon--white" %>
            <%= @sign.agree_count %> Agree
          <% end %>
          <%= link_to "#", class: "button" do %>
            <%= inline_svg "media/images/disagree.svg", aria_hidden: true, class: "icon icon--white" %>
            <%= @sign.disagree_count %>
            Disagree
          <% end %>
        </div>
        <div class="cell auto"></div>
        <div class="cell shrink">
          <%= link_to "#", class: "button" do %>
            Comment
          <% end %>
          <%= link_to "#", class: "button" do %>
            <%= inline_svg "media/images/folder-add.svg", aria_hidden: true, class: "icon icon--white" %>
            Add to Folder
          <% end %>
          <%= link_to "#", class: "button" do %>
            Share
          <% end %>
        </div>
      </div>

      <hr />

      <%= simple_format @sign.description %>
    </div>
  </div>
</div>
