<%#
# Show

This view is the template for the show page.
It renders the attributes of a resource,
as well as a link to its edit page.

## Local variables:

- `page`:
  An instance of [Administrate::Page::Show][1].
  Contains methods for accessing the resource to be displayed on the page,
  as well as helpers for describing how each attribute of the resource
  should be displayed.

[1]: http://www.rubydoc.info/gems/administrate/Administrate/Page/Show
%>
<% sign = present(page.resource.comment.sign)%>

<% content_for(:title) { t("administrate.actions.show_resource", name: page.page_title) } %>

<div class="grid-x">
  <div class="cell medium-8 list">
    <h1 class="black list__title list__title--admin">
      <%= content_for(:title) %>
    </h1>
    <hr class="list__divider">

    <section class="list__section">
      <dl>
        <dt>Sign</dt>
        <%= link_to sign_path(sign) do %>
          <%= sign.word %>
        <% end %>
        <% page.attributes.each do |_, attributes| %>
          <% attributes.each do |attribute| %>
            <dt class="attribute-label" id="<%= attribute.name %>">
            <%= t(
              "helpers.label.#{resource_name}.#{attribute.name}",
              default: attribute.name.titleize,
            ) %>
            </dt>
            <dd class="attribute-data attribute-data--<%=attribute.html_class%>">
              <% begin %>
                <%= render "admin/comment_reports/cell/#{attribute.name}", resource: page.resource, namespace: namespace %>
              <% rescue ActionView::MissingTemplate%>
                <%= render_field attribute, page: page %>
              <% end %>
            </dd>
          <% end %>
        <% end %>
      </dl>
    </section>

    <hr class="list__divider">
    <div class="form__footer form__footer--buttons-justified">
      <div>
        <%= link_to t("administrate.actions.back"), :back, class: "button clear" %>
      </div>
      <div>
        <form class="button_to" method="post" action="<%= sign_comment_path(page.resource.comment.sign.id, page.resource.comment.id) %>"><input type="hidden" name="_method" value="delete" autocomplete="off"><button class="button alert" data-turbo-confirm="<%= t("sign_comments.destroy.confirm")%>" type="submit">Remove comment</button></form>
      </div>
      <div>
        <form class="button_to" method="post" action="<%= admin_comment_report_path(page.resource) %>"><input type="hidden" name="_method" value="delete" autocomplete="off"><button class="button" data-turbo-confirm="<%= t("comment_reports.destroy.confirm")%>" type="submit">Ignore report</button></form>
      </div>
    </div>
  </div>
</div>
