<% return unless policy(@sign).display_comments? %>

<div id="sign-comments">
  <div class="grid-x">
    <div class="cell auto sign-comments--heading">
      <%= form_with url: params.to_unsafe_h, method: :get, remote: false, class: "comment-select" do |f| %>
        <%= f.label :comments_in_folder, "Comments for " %>
        <%= f.select :comments_in_folder,
                     options_for_select(
                       (@sign.published? || @sign.unpublish_requested? ? [["Public", nil]] : []) +\
                       policy_scope(@sign.folders).map { |f| [f.title, f.id] },
                       params[:comments_in_folder]
                     ),
                     {},
                     class: "comment-select",
                     onchange: "this.form.submit()" %>
      <% end %>
    </div>
    <div class="cell shrink sign-comments--total">
      <% comment_total = @comments.count %>
      showing <%= comment_total %> of <%= comment_total %> comments
    </div>
  </div>

  <% unless @comments.blank? %>
    <hr class="sign-comments__divider">
  <% end %>

  <% @comments.each do |comment| %>
    <div class="grid-x align-middle grid-padding-x sign-comment">
      <% next unless comment.display %>
      <% comment = present(comment) %>

      <hr class="sign-comments__divider">

    <div class="grid-x align-middle grid-padding-x">
      <%= render "sign_comments/shared/comment", comment: comment %>
    </div>

    <div class="grid-x align-middle grid-padding-x sign-comments__replies">
      <div class="cell auto sign-comments__replies--reply">
        <% if policy(SignComment).create? %>
        <span class="cell auto">
          <%= content_tag "a", nil, data: { id: dom_id(comment) }, class: "js-sign-comment-reply sign-comments__replies--reply sign-comments__replies--link" do %>
            <%= inline_svg "media/images/reply.svg", aria_hidden: true, class: "icon icon--medium" %>
            Reply
          <% end %>
          &nbsp;•&nbsp;
        </span>
        <% end %>

        <span class="cell auto">
          <%= comment.friendly_date %>
        </span>
      </div>
    </div>

    <% if policy(SignComment).reply? %>
      <div id="<%= dom_id(comment) %>" class="sign-comments__replies" style="display:none">
        <%= render "sign_comments/reply", comment: comment %>
      </div>
    <% end %>

    <% comment.replies.each do |reply| %>
      <% next unless reply.display %>
      <% reply = present(reply) %>

      <div class="grid-x align-middle grid-padding-x sign-comments__replies">
        <%= render "sign_comments/shared/comment", comment: reply %>
      </div>

      <div class="grid-x align-middle grid-padding-x sign-comments__replies">
        <div class="cell auto sign-comments__replies sign-comments__replies--reply">
          <%= comment.friendly_date %>
        </div>
      </div>
    <% end %>
  <% end %>

  <%= render "sign_comments/new", sign: sign if policy(SignComment).create? %>
</div>
