<% sign = present(sign) %>

<div class="sign-card sign-card--official" id="<%= dom_id(sign, :card) %>">
  <div class="sign-card__media">
    <%= render "signs/card/video", sign: sign %>
  </div>

  <span class="label nzsl-official">
    <span class="label__icon-wrapper">
    <%= inline_svg_pack_tag("media/images/agree.svg", class: "icon icon--white icon--tiny") %>
    </span>
    <strong>NZSL</strong>&nbsp;<em>Dictionary</em>
  </span>

  <div class="sign-card__section sign-card__canonical">
    <h1 class="sign-card__title"><%= sign.word %></h1>

    <div class="sign-card__supplementary-titles">
      <%= content_tag(:h2, sign.maori,
                            class: "sign-card__supplementary-titles__maori small") \
                            if sign.maori %>
      <%= content_tag(:h3, sign.truncated_secondary,
                            class: "sign-card__supplementary-titles__secondary small") \
                            if sign.secondary %>
      <small><em>
        <%= link_to sign.url, class: "sign-card__canonical-link" do %>
          <%= sign.url -%><%= inline_svg_pack_tag("media/images/external-link.svg", class: "icon icon--success icon--inline") %>
        <% end %>
      </em></small>
    </div>
  </div>
</div>
