
<% show ||= false %>
<%= turbo_frame_tag sign.dom_id(:folder_menu), class: "sign-card__folders__menu top", data: { dropdown_initially_open: show, close_on_click: true, v_offset: 8, dropdown: true, auto_focus: true } do %>
  <% sign.available_folders.each do |folder, membership| %>
    <%= form_with scope: :folder_membership,
      **(if membership.present?
        { url: folder_membership_path(membership), method: :DELETE }
      else
        { url: folder_memberships_path }
      end) do |f| %>
      <%= f.hidden_field :sign_id, value: sign.id %>
      <%= f.hidden_field :folder_id, value: folder.id %>

      <div class="checkbox hide-if-no-js">
        <%= f.check_box :_folder_id,
                        value: folder.id,
                        checked: membership.present?,
                        onchange: "this.form.requestSubmit()",
                        id: sign.dom_id(dom_id(folder, :membership)) %>
        <%= label_tag sign.dom_id(dom_id(folder, :membership)) do %>
          <strong style="flex:1"><%= folder.title %></strong>
          <%= turbo_frame_tag sign.dom_id(dom_id(folder, :count)), class: "count", data: { folder_id: folder.id } do %>
            (<%= folder.signs_count %>)
          <% end %>
        <% end %>
      </div>

      <ul class="show-if-no-js no-bullet list list--compact">
        <li class="list-item--compact">
          <span><%= folder.title %></span>
          <% if membership.present? %>
            <%= f.button class: "button icon-only clear medium small", title: "Remove from Folder" do %>
              <%= inline_svg_pack_tag "media/images/close.svg", class: "icon icon--small icon--medium" %>
            <% end %>
          <% else %>
            <%= f.button class: "button icon-only clear medium small", title: "Add to Folder" do %>
              <%= inline_svg_pack_tag "media/images/add.svg", class: "icon icon--small icon--medium" %>
            <% end %>
          <% end %>
        </li>
      </ul>
    <% end %>
  <% end %>
<% end %>
