
<div class="sign-card__folders__menu" id="<%= sign.dom_id(:folder_menu) %>" data-close-on-click="true" data-v-offset="8" data-dropdown data-auto-focus="true">
  <form class="hide-if-no-js">
    <% sign.available_folders.each do |folder, membership| %>
      <div class="checkbox">
        <%= check_box_tag :folder_ids,
                                  folder,
                                  membership.present?,
                                  data: {
                                    trigger: "update-folder-membership",
                                    folder_id: folder.id,
                                    sign_id: sign.id,
                                    membership_id: membership&.id
                                  },
                                  id: sign.dom_id(dom_id(folder, :membership)) %>
        <%= label_tag sign.dom_id(dom_id(folder, :membership)) do %>
          <strong style="flex:1"><%= folder.title %></strong>
          <strong class="count" data-folder-id="<%= folder.id %>">(<%= folder.signs_count %>)</strong>
        <% end %>
      </div>
    <% end %>
  </form>
  <div class="show-if-no-js">
    <ul class="no-bullet list list--compact">
      <% sign.available_folders.each do |folder, membership| %>
        <% next unless membership # Ignore folders that this sign is not in %>
        <li class="list__item--compact">
          <span><%= membership.folder.title %></span>
          <%= button_to folder_membership_path(membership),
                        method: :delete,
                        class: "button icon-only clear medium small",
                        title: "Remove from Folder" do %>
                        <%= inline_svg "media/images/close.svg", class: "icon icon--small icon--medium" %>
          <% end %>
        </li>
      <% end %>
    </ul>
    <%= form_tag folder_memberships_path(sign_id: sign.id) do %>
      <%= hidden_field_tag :"folder_membership[sign_id]", sign.id %>
      <%= label_tag :"folder_membership[folder_id]", "Add to Folder:" %>
      <%= select_tag :"folder_membership[folder_id]",
                     sign.assignable_folder_options %>
      <%= submit_tag "Save", class: "button" %>
    <% end %>
  </div>
</div>
