<% provide(:title, "Reset password") %>

<div class="cell medium-8 medium-offset-2 margin-top-2">
<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { class: "form margin-bottom-0", method: :put }) do |f| %>
  <legend class="form__header margin-0"><h2 class="black">Change password</h2></legend>
  <hr class="form__divider">

  <% if resource.errors[:reset_password_token].any? %>
    <div class="callout alert margin-vertical-1"><%= resource.errors.full_messages_for(:reset_password_token).join %></div>
  <% end %>
  <%= f.hidden_field :reset_password_token %>

  <fieldset class="form__section">
    <%= f.label :password, "New password", class: "margin-top-0" %>
    <%= f.password_field :password, autofocus: true, autocomplete: "new-password" %>
    <% if @minimum_password_length %>
      <div class="text-right">
        <span class="help-text">(<%= @minimum_password_length %> characters minimum)</span>
      </div>
    <% end %>
    <%= f.error :password %>

    <%= f.label :password_confirmation, "Confirm new password" %>
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
    <%= f.error :password_confirmation %>
  </fieldset>

  <hr class="form__divider">

  <div class="form__footer">
    <%= f.submit "Change password", class: "button" %>
  </div>
<% end %>

<%= render "users/shared/links" %>
</div>
