<div class="grid-x grid-padding-x">
  <div class="cell grid-x align-middle modal-form__title">
    <h2>Manage Collaborators</h2>
    <button class="modal-form__close-button" data-close aria-label="Close reveal" type="button">
      <%= image_pack_tag "media/images/close.svg", "aria-hidden": true %>
    </button>
  </div>


  <div class="cell">
    <%= form_with(model: [ :folder, collaboration ]) do |f| %>
      <div class="modal-form__fields">
      <hr class="form__divider">
        <ul class="list__item-menu list__item-menu--collab vertical grid-x">
          <% folder.collaborators.each do |collaborator| %>
            <li class="list__item--interactive grid-x align-middle cell">
              <div class="cell auto padding-1"><%= collaborator.email %><% if collaborator.id == current_user.id %> (that's you!)<% end %></div>
              <div class="cell shrink">
                <%= link_to folder_collaboration_path(folder, find_collaboration(collaborator.id, folder.id)),
                            method: :delete,
                            data: { confirm: t("collaborations.destroy.confirm") } do %>
                    <%= inline_svg "media/images/trash.svg", aria: true, title: "Delete Collaborator", class: "icon icon--alert"%>
                <% end %>
              </div>
            </li>
          <% end %>
        </ul>
      </div>
      <div class="modal-form__fields">
       <legend><h6>New collaborator</h6></legend>
        <hr class="form__divider">

        <fieldset>
          <%= f.label :identifier, "Email or username", class: "required" %>
          <%= f.text_field :identifier, placeholder: "Type email or username" %>
        </fieldset>
        <% if collaboration.errors.any? %>
        <ul>
          <% collaboration.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
        <% end %>
        <%= f.hidden_field :folder_id, value: folder.id %>
      </div>

      <div class="grid-x align-middle align-right modal-form__buttons">
        <button class="button clear modal-form__buttons--cancel" data-close aria-label="Close reveal" type="button">
          Cancel
        </button>
        <%= f.submit class: "button royal primary" %>
      </div>
    <% end %>
  </div>
</div>
