<ul class="vertical menu icons">
   <li class="<%= current_page?("/") ? "menu-text--home is-active" : "menu-text--home" %>"><%= link_to root_path do %><%= inline_svg "media/images/home.svg", aria_hidden: true, class: "icon--medium" %><span>Home</span><% end %>
</ul>

<ul class="vertical menu icons">
  <li class="menu-text">Manage Signs</li>
  <li class="<%= current_page?("/signs/new") && "is-active" %>">
    <%= link_to new_sign_path do %>
      <%= inline_svg "media/images/add.svg", aria_hidden: true %><span>Add a sign</span>
    <% end %>
  </li>
  <li class="<%= current_page?("/user/signs") && "is-active" %>">
    <%= link_to user_signs_path do %>
      <%= inline_svg "media/images/ok.svg", aria_hidden: true %><span>My signs</span>
    <% end %>
  </li>
  <li class="<%= current_page?("/folders") && "is-active" %>"><a href="/folders"><%= inline_svg "media/images/folder-collection.svg", aria_hidden: true %><span>My folders</span></a></li>
</ul>

<% if current_user.moderator? || current_user.administrator? %>
  <ul class="vertical menu icons">
    <li class="menu-text">Admin Portal</li>
    <li class="<%= current_page?("/admin/signs") && "is-active" %>">
      <%= link_to admin_signs_path do %>
        <%= inline_svg "media/images/moderator.svg", aria_hidden: true %><span>Moderate signs</span>
      <% end %>
    </li>

    <% if current_user.administrator %>
      <li class="<%= current_page?("/admin/approved_user_applications") && "is-active" %>">
        <%= link_to admin_approved_user_applications_path do %>
          <%= inline_svg "media/images/tick.svg", class: 'icon--medium', aria_hidden: true %><span>User approvals</span>
        <% end %>
      </li>

      <li class="<%= current_page?("/admin/users") && "is-active" %>">
        <%= link_to admin_users_path do %>
          <%= inline_svg "media/images/users.svg", aria_hidden: true %><span>User admin</span>
        <% end %>
      </li>
    <% end %>
  </ul>
<% end %>
<ul class="vertical menu icons hide-for-medium show-if-no-js">
  <li class="hide-if-no-js"> <!-- Don't need to duplicate the navbar here -->
    <a href="#">
      <img
        class="avatar"
        src="https://picsum.photos/id/550/20/20"
        alt="Profile Image"
      />
      <span><strong><%= current_user.username %></strong></span>
    </a>
  </li>
  <li><%= link_to "Edit my profile ›", edit_user_registration_path %></li>
  <li><%= link_to "Sign out", destroy_user_session_path, method: :delete %></li>
</ul>
