<ul class="vertical menu icons">
   <li class="is-active"><%= link_to root_path do %><%= inline_svg "media/images/home.svg", aria_hidden: true, class: "icon--medium" %><span>Home</span><% end %>
</ul>

<ul class="vertical menu icons">
  <li>
    <%= link_to new_sign_path do %>
      <%= inline_svg "media/images/add.svg", aria_hidden: true %><span>Add a sign</span>
    <% end %>
  </li>
  <li>
    <%= link_to signs_path do %>
      <%= inline_svg "media/images/camera.svg", aria_hidden: true %><span>My signs</span>
    <% end %>
  </li>
  <li><a href="/folders"><%= inline_svg "media/images/folder-collection.svg", aria_hidden: true %><span>My folders</span></a></li>
</ul>

<ul class="vertical menu icons hide-for-medium">
  <li>
    <a href="#">
      <img
        class="avatar"
        src="https://picsum.photos/id/550/20/20"
        alt="Profile Image"
      />
      <span><strong><%= current_user.username %></strong></span>
    </a>
  </li>
  <li><%= link_to "Edit my profile ›", edit_user_registration_path %></li>
  <li><%= link_to "Sign out", destroy_user_session_path, method: :delete %></li>
</ul>
