<%#
# Show

This view is the template for the show page.
It renders the attributes of a resource,
as well as a link to its edit page.

## Local variables:

- `page`:
  An instance of [Administrate::Page::Show][1].
  Contains methods for accessing the resource to be displayed on the page,
  as well as helpers for describing how each attribute of the resource
  should be displayed.

[1]: http://www.rubydoc.info/gems/administrate/Administrate/Page/Show
%>

<% content_for(:title) { t("administrate.actions.show_resource", name: page.page_title) } %>

<div class="grid-x">
  <div class="cell medium-8 list">
    <h1 class="black list__title list__title--admin">
      <%= content_for(:title) %>
    </h1>
    <hr class="list__divider">

    <section class="list__section">
      <dl>
        <% page.attributes.each do |attribute| %>
          <dt class="attribute-label" id="<%= attribute.name %>">
          <%= t(
            "helpers.label.#{resource_name}.#{attribute.name}",
            default: attribute.name.titleize,
          ) %>
          </dt>

          <dd class="attribute-data attribute-data--<%=attribute.html_class%>"
              ><%= render_field attribute, page: page %></dd>
        <% end %>
      </dl>
    </section>
    <hr class="list__divider">
    <div class="form__footer">
      <%= link_to t("admin.user_sign_transfers.new.link_text"), new_admin_user_sign_transfer_path(old_owner: page.resource), class: "button alert" %>

      <%= link_to t("administrate.actions.back"), :back, class: "button" %>
    </div>
  </div>
</div>
