<% classes ||= "" %>
<div class="grid-container messages <%= classes %>" style="width:100%">
  <div class="grid-x grid-margin-x">
    <div class="cell auto">
      <%# Notice %>
      <% if flash[:notice].present? %>
        <div class="callout success grid-x grid-margin-x">
          <div class="cell shrink align-self-middle">
            <%= inline_svg "media/images/remove.svg", class: "icon icon--white icon--mid" %>
          </div>
          <div class="cell auto align-self-middle">
            <%= sanitize(flash[:notice], tags: %w[a])  %>
          </div>
          <div class="cell shrink">
          <button class="callout__close" aria-label="Close alert" type="button" data-close>
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
        </div>
      <% end %>


      <%# Alert %>
      <% if flash[:alert].present? %>
        <div class="callout alert grid-x grid-margin-x">
          <div class="cell shrink align-self-middle">
            <%= inline_svg "media/images/remove.svg", class: "icon icon--white icon--mid" %>
          </div>
          <div class="cell auto align-self-middle">
            <%= sanitize(flash[:alert], tags: %w[a])  %>
          </div>
          <div class="cell shrink">
          <button class="callout__close" aria-label="Close alert" type="button" data-close>
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
