

<div class="grid-x grid-margin-x">
  <div class="cell medium-12 large-4">
    <div class="grid-x">
      <div class="cell small-6 callout callout primary">
        <div style="min-height:200px"></div>
      </div>
      <div class="cell small-6 callout callout accent"></div>
      <div class="cell small-6 callout callout secondary"></div>
      <div class="cell small-6 callout callout light">
        <div style="min-height:200px"></div>
      </div>
    </div>

    <div class="callout callout accent large">
      <h1>
        Dark orange with white text will pass AA contrast checks with min 24px
        text.
      </h1>
      <hr />

      <a class="expanded button callout__action">
        <i class="fa fa-2x fas fa-plus-circle"></i>
        Upload a term
      </a>

      <a class="expanded button callout__action">
        <i class="fa fa-2x fas fa-facebook-square"></i>
        Share on Facebook
      </a>
    </div>
  </div>

  <div class="cell medium-12 large-4">
    <div class="callout callout secondary radius large">
      <h1>Finibus urna condimentum</h1>
      <p>
        Proin et magna quis nisl consectetur dapibus id et elit. Nullam ornare
        ipsum metus, vitae gravida tellus consequat
      </p>
    </div>

    <div class="byline">
      <div class="byline__profile-image">C</div>
      <div class="byline__attribution">
        by <a href="/">Contributor-pseudonym</a> <time>Jul 23, 2019</time>
      </div>
    </div>

    <h2 class="underlined">Ut volutpat enimve mattis dignissim</h2>
    <p>
      Cras condimentum rutrum nibh, et vulputate augue cursus non. Donec at
      mollis mi. Ut id turpis in orci sagittis gravida et et massa. Nunc
      molestie tur.
    </p>

    <h3>Cras condimentum</h3>
    <p>
      Cras condimentum rutrum nibh, et vulputate augue cursus non. Donec at
      mollis mi. Ut id turpis in orci sagittis gravida et et massa. Nunc
      molestie tur.
    </p>
  </div>

  <div class="cell medium-12 large-4">
    <ul class="callout extra-light vertical menu">
      <li><a href="#">
        <%= image_pack_tag "home.svg", :"aria-hidden" => true %>
        <%= content_tag :span, "Home" %>
      </a></li>
      <li class="menu-divider"></li>
      <li class="menu-text">Manage videos</li>
      <li class="is-active"><a href="#">
        <%= image_pack_tag "folder-alt.svg", :"aria-hidden" => true %>
        <%= content_tag :span, "Collections" %>
      </a></li>
      <li><a href="#">
        <%= image_pack_tag "control-play.svg", :"aria-hidden" => true %>
        <%= content_tag :span, "My videos" %>
      </a></li>
    </ul>
    <div class="responsive-embed">
      <div class="sign-card">
        <iframe src="https://www.youtube.com/embed/WUgvvPRH7Oc" frameborder="0" allowfullscreen></iframe>
        <div class="card-section">
          <h4>This is a card.</h4>
          <p>
            It has an easy to override visual style, and is appropriately subdued.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
