<%# This layout is a sub-layout of the application layout for logged-in users. %>
<%# It renders the normal grid alongside a sidebar. %>
<%= content_for(:content) do %>
  <div class="off-canvas position-left reveal-for-medium sidebar" id="authenticated-sidebar" data-off-canvas data-auto-focus="false">

    <!-- Close button -->
    <button class="close-button" aria-label="Close menu" type="button" data-close>
      <span aria-hidden="true">&times;</span>
    </button>

    <!-- Menu -->
    <%= render "application/sidebar/signed_in" %>
  </div>

  <div class="off-canvas-content" data-off-canvas-content>
    <%= render("application/messages",
               classes: request.path == root_path ? "messages--float" : "") %>
    <%= render "application/hero-unit" %>
    <div class="grid-container">
      <%= yield %>
    </div>
  </div>
<% end %>

<%= render template: "layouts/application" %>
