<% provide(:title, "Edit profile") %>

<div class="cell medium-8 margin-top-2 form">
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
    <legend class="form__header margin-0"><h1 class="black margin-bottom-0">Edit profile</h1></legend>
    <hr class="form__divider">

    <fieldset class="form__section">
      <legend><h2 class="primary">My details</h2></legend>
      <hr class="form__divider">

      <%= f.label :email %>
      <%= f.email_field :email, autofocus: true, autocomplete: "email" %>

      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
      <% end %>

      <%= f.label :username %>
      <%= f.text_field :username,pattern: User::USERNAME_REGEXP %>

      <%= f.label :bio %>
      <%= f.text_area :bio, rows: 5, placeholder: "Tell us a little about yourself! This will be visible to others." %>
    </fieldset>

    <div class="form__section" id="approved-member-information">
      <h2 class="primary">Approved Member</h2>
      <hr class="form__divider margin-bottom-2">

      <p>We are looking for Deaf community members who use NZSL every day to help grow NZSL Share.</p>
      <p>
        To make NZSL Share a safe community space, only Approved Members can:
        <ul>
          <li>add new signs for everyone to see.</li>
          <li>comment on signs, and say if they agree or disagree with them.</li>
        </ul>
      </p>

      <p>You do not need to be an Approved member to set up an account, add private signs, or save your
      favourite signs in folders.</p>


      <% if f.object.approved? %>
        <p>You are an approved member!</p>
      <% elsif f.object.approved_user_application&.submitted? %>
        <p>You have applied to become an approved member. An admin will review your application soon.</p>
      <% elsif f.object.approved_user_application&.declined? %>
        <p>
         Unfortunately, we have not approved your application.
         You can still keep your account with NZSL Share, browse signs,
         add your favourite signs to folders, upload your own private signs and
         share them with others through a link.
        </p>

        <p>If you wish, you can re-apply with updated information:</p>

        <p><%= link_to "Apply to become an approved member", new_approved_user_application_path, class: "button" %></p>
      <% else %>
        <p><%= link_to "Apply to become an approved member", new_approved_user_application_path, class: "button" %></p>
      <% end %>
    </div>

    <fieldset class="form__section">
      <legend><h2 class="primary">Change password</h2></legend>
      <hr class="form__divider">

      <%= f.label :password, "New password" %>
      <%= f.password_field :password, autocomplete: "new-password", placeholder: "Only if you want to change it" %>
      <% if @minimum_password_length %>
        <div class="text-right">
          <span class="help-text">(<%= @minimum_password_length %> characters minimum)</span>
        </div>
      <% end %>
      <%= f.label :password_confirmation, "New password confirmation" %>
      <%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder: "Retype new password" %>
    </fieldset>

    <fieldset class="form__section">
      <legend><h2 class="primary">Confirm changes</h2></legend>
      <hr class="form__divider">

      <%= f.label :current_password, class: "required" %>
      <%= f.password_field :current_password, autocomplete: "current-password" %>
      <%= f.error :current_password %>

      <p class="help-text ">(we need your current password to confirm your changes)</p>
    </fieldset>

    <hr class="form__divider">

    <div class="form__footer">
      <div class="text-right">
        <%= link_to "Back", :back, class: "button clear" %>
        <%= f.submit "Update", class: "button" %>
      </div>
    </div>
  <% end %>
</div>

